body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.visually-hidden {
visibility: hidden;
}

a {
  text-decoration: none;
}

.main-header-logo:hover {
  background: #ca2c37;
}

.main-header-logo:active {
  background: #ba2732;
}

.user-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.user-navigation a:hover {
  background-color: #293449;
}

.user-navigation a:active {
  opacity: 0.5;
}

.user-panel,
.site-navigation {
  list-style: none;
}

.user-panel a,
.site-navigation a {
  color: #ffffff;
}

.user-panel a:hover {
  background-color: #212a3a;
}

.user-panel a:focus {
  background-color: #293449;
}

.search-in-site {
  color: #ffffff;
  background-color: #212a3a;
}

.search-in-site:focus {
  color: black;
  background-color: #ffffff;
  }

.login {
  list-style: none;
  font-size: 21px;
  color: #black;
  background: #ffffff;
}

.exit a {
  font-size: 21px;
  color: #000000;
}

.my-buy a,
.profile a {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.my-buy a:hover,
.profile a:hover {
  color: #ba2732;
}

.exit a:active,
.my-buy a:active,
.profile a:active{
  opacity: 0.3;
}

.login-button:hover,
.register:hover {
  color: #ee3643;
  background: #ffffff;
}

.login-button:active,
.register:active {
  color: #b2b2b2;
  background: #ffffff;
}

.slogan {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
}

address {
  font-size: 21px;
  font-style: normal;
  color: #e9292a;
  background-color: #f1f5f7;
}

.where {
  font-size: 14px;
  color: #32425c;
}



.feateres-item1 {
  background-color: #f6b22d;
}

.feateres-item1 a {
  color: #ffffff;
}

.feateres-item1 p {
  background-color: rgba(0,0,0,0.1);
}

 .feateres-item1 p:hover {
    background-color: rgba(0,0,0,0.2);
}

.feateres-item1 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item2 {
  background-color: #3bbce3;
}

.feateres-item2 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item2 a {
  color: #ffffff;
}

.feateres-item2 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item2 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item3 {
  background-color: #dc91d8;
  }

.feateres-item3 a {
  color: #ffffff;
}

.feateres-item3 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item3 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item3 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item4 {
  background-color: #8ed78f;
}

.feateres-item4 a {
  color: #ffffff;
}

.feateres-item4 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item4 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item4 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item5 {
  background-color: #ffc047;
}

.feateres-item5 a {
  color: #ffffff;
}

.feateres-item5 p {
background-color: rgba(0,0,0,0.1);
}

.feateres-item5 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item5 p:active {
  background-color: rgba(0,0,0,0.3);
}

.slider1 {
  width:620px;
  height:270px;
  background: url("../img/slider1.jpg") no-repeat;
  background-size: 620px 270px;
  }

.slider1 h2 {
  font-size: 36px;
  color: #ffffff;
}

.slider1 p {
  font-size: 18px;
  color: #ffffff;
}

.catalog-button {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-button:hover {
  background-color: #ca2c37;
}

.catalog-button:active {
  background-color: #ba2732;
}

.slider2 {
  width:620px;
  height:270px;
  background: url("../img/slider2.jpg") no-repeat;
  background-size: 620px 270px;
  }

  .slider2 h2 {
    font-size: 36px;
    color: #ffffff;
  }

  .slider2 p {
    font-size: 18px;
    color: #ffffff;
  }

  .catalog-button {
    color: #ffffff;
    background-color: #ee3643;
  }

  .catalog-button:hover {
    background-color: #ca2c37;
  }

  .catalog-button:active {
    background-color: #ba2732;
  }

  .popular {
    background-color: #f9f5f0;
    color: #32425c;
  }

  .popular-button {
    color: #ffffff;
    background-color: #ee3643;
  }

  .catalog-item {
    color: #000000;
    list-style: none;
    border: 2px solid #eaeaea;
    padding: 5px;
  }

  .catalog-item h3 {
    font-size: 18px;
  }

  .old-price {
    font-size: 17px;
    color: #a9a9a9;
    text-decoration: line-through;
  }

  .price {
    background-color: #ee3643;
    font-size: 17px;
    color: #ffffff;
  }

  .new {
    background-color: #ee3643;
    font-size: 5px;
    color: #ffffff;
  }

  .popular-manufacturers {
    background-color: #f9f5f0;
    font-size: 30px;
    color: #32425c;
  }

  .manufacturers-button {
    background-color: #ee3643;
    font-size: 14px;
    color: #ffffff;
  }

  .manufacturer-item {
    border: 2px solid #eaeaea;
    padding: 5px;
  }

  .slider-services h2 {
    font-size: 30px;
    color: #000000;
  }

  .slider-services p {
    font-size: 13px;
    color: #000000;
  }

  .slider-servises-control{
    list-style: none;
    background: #32425c;
    font-size: 21px;
    color: #ffffff;
  }

  input[type=radio] {
    display: none;
 }

 .slider-servises-control a{
  color: #ffffff;
 }

  .srv1 {
    border: 1px #000000 solid;
  }
  .srv2 {
    border: 1px #000000 solid;
  }
  .srv3 {
    border: 1px #000000 solid;
  }

  .srv1:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv1:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv1:active a {
    color: #32425c;
  }

  .srv2:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv2:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv2:active a {
    color: #32425c;
  }

  .srv3:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv3:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv3:active a {
    color: #32425c;
  }

  .delivery p {
    font-size: 13px;
    color: #000000;
  }

.delivery h3 {
  font-size: 36px;
  color: #32425c;
}

.guarantee h3 {
  font-size: 36px;
  color: #32425c;
}

.guarantee p {
  font-size: 13px;
  color: #000000;
}

.credit h3 {
  font-size: 36px;
  color: #32425c;
}

.credit p {
  font-size: 13px;
  color: #000000;
}

.company h2 {
  font-size: 30px;
  color: #000000;
}

.company p {
  font-size: 13px;
  color: #000000;
}

.company a {
  background-color: #ee3643;
  color: #ffffff;
}

.delivery-company-item {
  list-style: none;
  font-size: 18px;
  color: #000000;
}

.contacts2 h2 {
  font-size: 30px;
  color: #000000;
}

.contacts2 p {
  font-size: 13px;
  color: #000000;
}
.write-us {
  background-color: #ee3643;
  color: #ffffff;
}

.upper-footer {
  background-color: #32425c;

}
.upper-footer a {
  color: #ffffff;
}

.site-navigation-items {
  list-style: none;
}

.address {
background-color: #32425;
}

.bottom-footer {
  background: #293449;
}

.soc-but {
  list-style: none;
}
