html {
      text-align: -webkit-center;
}

body {
  margin: 0;
  padding: 0;
  min-width: 960px;
  max-width: 1200px;
  min-height: 3151px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
  margin-bottom: 60px;
  min-height: 320px;
  padding-bottom: 0px;
}

.upper-nav {
  background-color: #293449;
  margin-bottom: 47px;
  width: 100%;
  max-height: 42px;
  display: flex;


}

.left-up {
  width: 410px;
  flex-grow: 1;
  display: flex;
  margin-left: 130px;
}


.lupa {
  display: flex;
  margin: 0;
  opacity: 0.3;
  padding-left: 16px;
  padding-top: 12px;
}

.search {
  width: 220px;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 15px;
}

.icon-bookmark {
  display: block;
  opacity: 0.3;
  padding-right: 12px;
  padding-left: 5px;
}

.icon-cart {
  display: block;
  opacity: 0.3;
  padding-right: 15px;
  padding-left: 22px;
}

.user-panel {
  flex-grow: 1;
  display: flex;
  padding-left: 20px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 130px;
  list-style: none;
  background-color: #293449;

}

.bookmark,
.cart,
.buy {
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  align-self: center;
  font-size: 15px;
}

.bookmark {
  margin-left: 55px;
  padding-right: 0px;
}

.cart {
margin-left: 0px;
}

.buy {
padding-left: 0px;
padding-right: 0px;

}


.cart a {
padding-left: 10px;
padding-right: 32px;

}

.bookmark a {
  padding-left: 11px;
  padding-right: 11px;
}

.bookmark a,
.cart a,
.buy a {
  width: 100%;
  display: flex;
  flex-grow: 1;
  padding-top: 12px;
  padding-bottom: 12px;
}

.buy a {
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 16px;
}


.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}
a {
  text-decoration: none;
}

.user-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  /*background-color: #32425c;*/
}

.user-navigation a:hover {
  background-color: #293449;
}

.user-navigation a:active {
  opacity: 0.5;
}



.site-navigation {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0px;
  padding-top: 20px;
  padding-bottom: 17px;
  list-style: none;
  background-color: #32425c;
  display: flex;
  flex-grow: 1;
  align-items: center;
  box-shadow: 0 5px #293449;
  font-size: 15px;
}

.site-navigation li {
  margin-left: 50px;
  padding-right: 10px;
}

.site-navigation a {

}

.user-panel a,
.site-navigation a {
  color: #ffffff;
}

.user-panel a:hover {
  background-color: #212a3a;
}

.user-panel a:focus {
  background-color: #293449;
}

.search-in-site {

  color: #ffffff;
  background-color: #293449;
  opacity: 0;
}

.search-in-site:focus {
  color: black;
  background-color: #ffffff;
  opacity: 1;
  }

.middle-nav {
  margin-left: 180px;
  margin-right: 120px;
  display: flex;
  flex-grow: 1;

  margin-bottom: 37px;
}

.login {
  flex-grow: 1;
  list-style: none;
  font-size: 21px;
  color: #black;
  background: #f4f7f9;
  text-align: right;
  margin-top: 0;
}

.login-button,
.register {
  font-size: 19px;
  border: 0;

}

.login-button {
  margin-right: 5px;
  padding-top: 10px;
  padding-right: 26px;
  padding-bottom: 12px;
  padding-left: 5px;
}

.register {
  padding-left: 22px;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 11px;
  margin-right: 10px;

}

.icon-login {
  margin-right: 5px;
  padding-left: 8px;
  padding-top: 2px;
}

.contacts {
  flex-grow: 1;
  width: 275px;
}

.icon-phone {
  display: block;
  padding-left: 13px;
  padding-right: 10px;
  padding-top: 9px;
  padding-bottom: 10px;
}

.telephone {
  display: block;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 9px;
  padding-bottom: 12px;
}

.tel-num {
border: 2px solid #ffffff;
display: flex;
margin-right: 31px;
margin-left: 12px;

}

.where {
  padding-top: 10px;
  margin-right: 50px;
  font-size: 12px;
}

.slogan {
  flex-grow: 1;
  width: 220px;
  word-wrap: normal;
  font-family: Cuprum sans-serif;
  font-style: italic;
  display: block;
  text-align: left;
}

.slogan {
  font-size: 15px;
  font-style: italic;
  color: #ee3643;
  background-color: #f4f7f9;
}

.slogan p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.slogan1 {
  margin-top: 0px;
}

.exit a {
  font-size: 21px;
  color: #000000;
}

.my-buy a,
.profile a {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.my-buy a:hover,
.profile a:hover {
  color: #ba2732;
}

.exit a:active,
.my-buy a:active,
.profile a:active{
  opacity: 0.3;
}

.login-button,
.register {
  background-color: #ffffff;
  color: #000000;
}

.login-button:hover,
.register:hover {
  color: #ee3643;
  background: #ffffff;
}

.login-button:active,
.register:active {
  color: #b2b2b2;
  background: #ffffff;
}

.lkmz {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 14px;
}



.contacts {
      text-align: -webkit-right;
}

address {
  font-size: 21px;
  font-style: normal;
  color: #e9292a;
  background-color: #f4f7f9;
}

.where {
  font-size: 12px;
  color: #32425c;
}

.features-list {
  margin-top: 17px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 55px;
  padding-left: 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;

}

.column {
  flex-direction: column;
}

.fi {
  display: flex;
}

.descript {
  margin-left: 25px;
  margin-top: 15px;
}

.charact {
  width: 135px;
  height: 38px;
  text-align: center;
  }

.svg-featers {
  width: 48px;
  height: 63px;
  margin-top: 30px;
margin-left: 53px;
}



.flag{
  position:absolute;
    top: 0;
    right: 0;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.flag-new{
    background:url("../img/new.png") no-repeat 0 0;
}

.fim {

}

.feateres-item1 {
  position: relative;
  display: flex;
  /*margin-right: 50px;*/
  margin  -bottom: 20px;
  width: 300px;
  height: 122px;
  background-color: #f6b22d;
  }

.feateres-item1 a {
  color: #ffffff;
}

.feateres-item1 p {
  background-color: rgba(0,0,0,0.1);
}

 .feateres-item1 p:hover {
    background-color: rgba(0,0,0,0.2);
}

.feateres-item1 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item2 {
  background-color: #3bbce3;
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  width: 300px;
  height: 122px;
}

.feateres-item2 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item2 a {
  color: #ffffff;
}

.feateres-item2 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item2 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item3 {
  background-color: #dc91d8;
  /*margin-right: 20px;*/
  margin-bottom: 20px;
  width: 300px;
  height: 122px;
  }

.feateres-item3 a {
  color: #ffffff;
}

.feateres-item3 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item3 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item3 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item4 {
  background-color: #8ed78f;
/*  margin-right: 20px;*/
  margin-bottom: 20px;
  width: 300px;
  height: 122px;
}

.feateres-item4 a {
  color: #ffffff;
}

.feateres-item4 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item4 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item4 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item5 {
  background-color: #ffc047;
/*  margin-right: 20px;*/
  margin-bottom: 20px;
  width: 300px;
  height: 122px;
}

.feateres-item5 a {
  color: #ffffff;
}

.feateres-item5 p {
background-color: rgba(0,0,0,0.1);
}

.feateres-item5 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item5 p:active {
  background-color: rgba(0,0,0,0.3);
}

.slider1 {
  margin-left: -320px;
  margin-top: -339px;
  width:620px;
  height:266px;
  background: url("../img/slider1.jpg") no-repeat;
  background-size: 620px 270px;
  text-align: left;
  }

.slider1 h2 {
  font-size: 36px;
  color: #ffffff;
  padding-top: 25px;
  padding-left: 25px;
  margin-bottom: 0;
}

.slider1 p {
  font-size: 18px;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 25px;
  margin-top: 0;
}

.catalog {
  padding-left: 25px;
  margin-top: 145px;
}

.catalog-button {
  color: #ffffff;
  background-color: #ee3643;
  width: 195px;
  height: 40px;
  border: 0;

}



.catalog-button:hover {
  background-color: #ca2c37;
}

.catalog-button:active {
  background-color: #ba2732;
}

.slider2 {
  width:620px;
  height:270px;
  background: url("../img/slider2.jpg") no-repeat;
  background-size: 620px 270px;
  margin-left: 130px;
  }

.slider2 h2 {
    font-size: 36px;
    color: #ffffff;
  }

  .slider2 p {
    font-size: 18px;
    color: #ffffff;
  }

  .catalog-button {
    color: #ffffff;
    background-color: #ee3643;
  }

  .catalog-button:hover {
    background-color: #ca2c37;
  }

  .catalog-button:active {
    background-color: #ba2732;
  }

  .popular {
    margin-top: 54px;
    margin-left: 130px;
    margin-right: 130px;

    background-color: #f9f5f0;
    color: #32425c;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }

  .popular h2 {
    font-size: 30px;
    padding-top: 35px;
    padding-left: 27px;
    margin: 0;
  }

  .popular1 {
    margin-top: 0;
    margin-left: 120px;
    margin-right: 120px;
    height: 90px;
    background-color: #f9f5f0;
    color: #32425c;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

  }



  .popular1 h2 {
    padding-top: 40px;
    padding-left: 27px;
    margin: 0;
  }

  .popular-button {
    width: 253px;
    height: 40px;
    color: #ffffff;
    background-color: #ee3643;
    margin-top: 23px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
  }

  .pop-b {
    width: 253px;

    font-size: 14px;
    text-align: center;
    padding-top: 12px;
  }



  .most-popular {
    display: flex;
    flex-grow: 1;
    margin-left: 130px;
    padding-left: 0;
    margin-right: 130px;
    margin-bottom: 25px;
    justify-content: space-between;
  }

  /*.catalog-item {
    width: 220px;
    height: 320px;

    color: #000000;
    list-style: none;
    border: 2px solid #eaeaea;
    padding: 5px;
  }

  .catalog-item h3 {
    font-size: 18px;
  }

  .old-price {
    font-size: 17px;
    color: #a9a9a9;
    text-decoration: line-through;
  }

  .price {
    background-color: #ee3643;
    font-size: 17px;
    color: #ffffff;
  }

  .new {
    background-color: #ee3643;
    font-size: 5px;
    color: #ffffff;
  }

  .under {
    display: none;
  }

.catalog-item:hover {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
}

.catalog-item:active {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
}

  .catalog-item:hover .picture {
    display: none;
  }

  .catalog-item:hover .under{
      display: block;
    }

.under-picture1 {
  background-color: #63a63e;
  color: #ffffff;
}

.under-picture1:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.under-picture1:active {
  background-color: #518534;
  color: #ffffff;
}

.under-picture2 {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
}

.under-picture2:hover {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #32425c;
}

.under-picture2:active {
  opacity: 0.3;
}*/
.popular-catalog {
    font-size:16px;
    font-family:"Open Sans", sans-serif;
    color:black;
    background:white;

  }

.catalog-items{
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;

    justify-content: space-between;
}

.row {
  display: flex;
  justify-content: space-between;
}

.catalog-items .row{
    margin-left:-20px;
}
.catalog-item {
    position:relative;
    display:inline-block;
    width:218px;
    margin-left:20px;
    margin-bottom:27px;
    border:1px solid #ccc;
    line-height:20px;
    font-weight:bold;
    text-align:center;
}
.catalog-items{
    font-size:0;
}
.catalog-item{
    font-size:16px;
}
.catalog-item .flag{
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.catalog-item .flag-new{
    background:url("../img/new.png") no-repeat 0 0;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315;
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;
    border-radius:3px;
}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item .image{
    width:218px;
    height:168px;
}
.catalog-item .image img{
    max-width:100%;
}
.catalog-item .title{
    min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
}
.catalog-item .discount{
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;
    color:#999;
    text-decoration:line-through;
}
.catalog-item .price{
    position:relative;
    width:80px;
    margin:10px auto;
    margin-bottom:13px;
    padding:10px 30px;
    color:white;
    background:#ee3643;
    border-radius:3px;
}
.catalog-item .price:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

  .popular-manufacturers {
    background-color: #f9f5f0;
    font-size: 30px;
    color: #32425c;
  }

  .manufacturers-logo-catalog {
margin-top: 20px;
margin-left: 120px;
margin-right: 100px;
padding-left: 0;
display: flex;
flex-grow: 1;
flex-wrap: wrap;
justify-content: space-between;
  }

  .manufacturers-button {
    background-color: #ee3643;
    font-size: 14px;
    color: #ffffff;
  }

  .manufacturer-item {
    width: 210px;
    height: 145px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 2px solid #eaeaea;
    padding: 5px;

  }

  .bosch-m {
    padding-top: 55px;
  }

  .makita-m {
    padding-top: 50px;
  }

  .dewalt-m {
    padding-top: 50px;
  }

  .skol-m {
    padding-top: 10px;
  }

  .hitachi-m {
    padding-top: 40px;
  }

  .lg-m {
    padding-top: 30px;
  }

  .aeg-m {
    padding-top: 30px;
  }

  .metabo-m {
    padding-top: 40px;
  }

  .manufacturer-item:hover {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
  }

  .manufacturer-item:active {
    box-shadow:  0 0 30px rgba(0,0,0,0.5);
    opacity: 0.3;
  }

  .slider-services {
    height: 520px;
    background-color: #f4f8f9;
    text-align: left;
    padding-left: 120px;
    padding-right: 120px;

  }

  .slider-services h2 {
    padding-top: 65px;
    margin: 0;
    font-size: 30px;
    color: #000000;
  }

  .slider-services p {
    padding-top: 30px;
    margin: 0;
    font-size: 13px;
    color: #000000;
  }

  .slider-servises-control{
    height: 175px;
    list-style: none;
    background: #32425c;
    font-size: 21px;
    color: #ffffff;
    width: 235px;
    padding-left: 0;
    margin: 0;

  /*  margin-top: 75px;*/
  }

  input[type=radio] {
    display: none;
 }

 .slider-servises-control a{
  color: #ffffff;

 }

  .srv1 {
  /*  border: 1px #000000 solid;*/
  color: #32425c;
  background: #ffffff;
  font-size: 21px;
  padding: 20px;

    }
  .srv2 {
    border: 1px #000000 solid;
    padding: 20px;
  }
  .srv3 {
    border: 1px #000000 solid;
    padding: 20px;
  }

  /*.srv1:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }*/

  .srv1:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv1:active a {
    color: #32425c;
  }

  .srv2:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv2:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv2:active a {
    color: #32425c;
  }

  .srv3:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv3:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv3:active a {
    color: #32425c;
  }

  .serv-slider {
    display: flex;
  }

  .service-item {
    list-style: none;
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .serv-teni {
    display: flex;
    margin-top: 75px;

  }

  .serv-deliv {
    display: flex;
    margin-top: 80px;
  }

  .delivery p {
    font-size: 13px;
    color: #000000;
  }

.delivery h3 {
  font-size: 36px;
  color: #32425c;
  margin: 0;
}

.guarantee h3 {
  font-size: 36px;
  color: #32425c;
}

.guarantee p {
  font-size: 13px;
  color: #000000;
}

.credit h3 {
  font-size: 36px;
  color: #32425c;
}

.credit p {
  font-size: 13px;
  color: #000000;
}



.company {
display: block;
color: #000000;
margin-right: 670px;
margin-top: 80px;
margin-left: 120px;
text-align: -webkit-auto;
}

.company h2 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 0;
}

.company p {
  font-size: 13px;
  color: #000000;
  margin-top: 30px;
}

.company a {
  background-color: #ee3643;
  color: #ffffff;
}

.delivery-company-item {
  list-style: none;
  font-size: 18px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 50px;
}

.compan {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
}

.write-us {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 60px;
  padding-right: 57px;
}

.contacts2 {
  display: block;
  margin-left: 780px;
  margin-top: -380px;
  margin-right: 120px;
  text-align: -webkit-auto;
}

.contacts2 h2 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 30px;

}

.contacts2 p {
  font-size: 13px;
  color: #000000;
  margin-bottom: 30px;

}

.map-contact {
  margin-bottom: 60px;
}



.upper-footer {
  background-color: #32425c;
  margin-top: 98px;
  text-align: -webkit-auto;
  padding-left: 120px;
}

.adress-f {
  color: #ffffff;
  text-align: -webkit-auto;
  margin-top: 30px;
  width: 350px;
}

.white a {
  font-size: 18px;
  color: #ffffff;
}

.gold a {
  font-size: 18px;
  color: #ffd180;
}

.site-navigation-items {
  list-style: none;
  text-align: -webkit-right;
  margin-right: 120px;
  margin-top: -100px;
  padding-bottom: 75px;
  margin-bottom: 0;
}

/*.footer-navigation ul {
  width: 750px;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation li {
  padding-right: 55px;
}*/

.white1 {
  display: flex;
  width: 555px;
  justify-content: space-between;
  font-size: 18px;

}

.gold1 {
display: flex;
width: 530px;
justify-content: space-between;
padding-left: 25px;
margin-top: 40px;
}


.site-navigation-items :hover {
  text-decoration: underline;
}

.site-navigation-items :active {
  opacity: 0.5;
}

.address {
background-color: #32425;
}

.bottom-footer {
  background: #293449;
  display: flex;
  justify-content: space-between;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.soc-but {
  list-style: none;
  display: flex;
}

.footer-copyright b {
  font-size: 16px;
}

.footer-copyright a {
  font-size: 16px;
  color: #ffd180;
}

.footer-copyright :hover {
text-decoration: underline;
  }

.footer-copyright :active {
  color: #ee3643;
}



.write-us h3 {
  color: #000000;
}

.sending {
  background-color: #ee3643;
  color: #ffffff;
}

.mod-write-us {
  background-color: #ffffff;
  width: 620px;
  height: 490px;
  color: #000000;
  border-top: 7px solid #ff5358;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  }

  .mod-write-us h3 {
    text-align: left;
  }

  .modal-cart {
    width: 620px;
    height: 280px;
    border-top: 7px solid #ff5358;
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
  }

  .gal {
    display: flex;
    padding-left: 80px;
    margin-top: 48px;
    padding-bottom: 23px;

  }

  .gal h2 {
    margin-left: 30px;
  }

  .contact-mod {
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 50px;
  }

  .name-field {
    width: 220px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .e-mail-field {
    width: 220px;
    height: 40px;
  }

  .letter-mod {
    padding-left: 80px;
    padding-right: 80px;

  }

  .letter-field {
    width: 460px;
    height: 115px;
  }

  .button-mod {
    background-color: #f4f4f4;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;

  }

/*--не могу найти откуда это
.cart {
  background-color: #ee3643;
  color: #ffffff;
}--*/

.main-header-cat {
  margin: 0;
}

.cart-cat {
  background-color: #ee3643;
}

.l-b-cat {
  margin-right: 0;
  padding-right: 0;
  margin-left: auto;
  display: flex;
  font-size: 19px;
}

.icon-user {
  padding-right: 10px;
}

.icon-login-cat {
  padding-left: 10px;
}

.buy {
  background-color: #63a63e;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  padding-left: 0;
  margin-left: 120px;
}

.home-cat {
  margin-left: -20px;
}

.breadcrumbs li {
  padding-left: 20px;
  padding-right: 20px;
}

.home-cat {
  padding-left: 0;
}

.perforators {
  background-color: #f2f6f8;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
}

.perforators h2 {
  font-size: 30px;
  color: #32425c;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
}

.filter-in {
  background-color: #f7f3ec;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 120px;
  margin-right: 850px;
  text-align: left;
  margin-top: 20px;

}

.filter-in h3 {
  margin-left: 15px;
  font-size: 13px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0;
}

.sortby {
  background-color: #f7f3ec;
  padding-top: 15px;
  padding-bottom: 0;
  margin-left: 370px;
  margin-right: 120px;
  margin-top: -47px;

}

.price-in {
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
  text-align: left;
  margin-left: 120px;
  margin-top: 20px;
}

.range {
  background-color: #f7f3ec;
  margin-left: 120px;
  margin-top: 20px;
  margin-right: 850px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.min-sum {
  background-color: #f7f3ec;
  color: #000000;
  margin-top: 10px;
  margin-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 30px;
}

.pro {
  background-color: #ffffff;
  color: #000000;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

}

.max-sum {
  background-color: #f7f3ec;
  color: #000000;
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.description-range {
  display: flex;
  margin-left: 120px;
  margin-right: 850px;
  border-bottom: 1px solid #ccc;
}

.manufacturers-in {
  background-color: #ffffff;
  color: #000000;
  margin-left: 120px;
  margin-right: 850px;
  margin-top: 25px;
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.manufacturers-in fieldset {
  border: none;
  margin: 0;
  padding: 0;

}

.manufacturers {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.manufacturers li {
  margin-bottom: 15px;
}

.power-in {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  margin-left: 120px;
  margin-right: 850px;
  }

.power-in fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.power {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.power li {
  margin-bottom: 15px;
}

.show {
  margin-right: 870px;
  margin-top: 55px;
}

.filter-button-button {
  background-color: #ffffff;
  color: #000000;
}

.search-param {
  background-color: #f7f3ec;
  color: #000000;


}

.search-param fieldset {
  border: none;
  text-align: left;
  padding-bottom: 0;
  padding-right: 0;
}

.filter2 {
  list-style: none;
  display: flex;
  margin-bottom: 2px;
  margin-top: -22px;
  margin-left: 118px;
}

.filter-option2 {
  border-bottom: 2px dashed #ee3643;
  opacity: 0.3;
  margin-left: 70px;
}

.but-cat {
  display: flex;
  margin-left: 30px;
}

.filter-option2:hover {
  border-bottom: 2px dashed #ee3643;
  opacity: 1;
}

.filter-option2:active {
  color: #ee3643;
  border-bottom: 2px dashed #ee3643;
  opacity: 1;
}

.width-catalog {
  margin-left: 240px;
  margin-top: -605px;
  color: #000000;
}

.pagination-item {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e5e5e5;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin-left: 130px;
  margin-top: 35px;
}

.pagination-list li {
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

}

.pagination-item:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #bdc6ca;
}

.pagination-item:active {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ee3643;
}

.description {
  background-color: #f2f6f8;
  text-align: left;
  margin-left: -240px;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 35px;
  padding-bottom: 75px;
}

.description p {
  font-size: 13px;
}

.upper-footer-cat {
  margin-top: 0;
}

.modal-cart h2 {
  font-size: 30px;
  color: #000000;
}

.make-buy {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0;
  margin-right: 10px;

}

.continue-choose {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-mod {
  background-color: #f1f1f1;
  padding-left: 80px;
  padding-right: 80px;
}
