body {
  margin: 0;
  padding: 0;

  min-width: 1200px;
  min-height: 3151px;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f4f7f9;
  margin-bottom: 60px;
  min-height: 320px;
}

.upper-nav {
  background-color: #293449;
  margin-bottom: 50px;
  width: 100%;
  max-height: 42px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-up {
  flex-grow: 1;
  display: flex;
  margin-left: 130px;
}


.lupa {
  display: flex;
  margin: 0;
  opacity: 0.3;
  padding: 10px;
}

.search {
  display: block;
  margin-top: 8px;
}

.icon-bookmark {
  display: block;
  opacity: 0.3;
  padding-right: 10px;
}

.icon-cart {
  display: block;
  opacity: 0.3;
  padding-right: 10px;
}

.user-panel {
  flex-grow: 1;
  display: flex;
}

.bookmark,
.cart,
.buy {
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  align-self: center;
}

.bookmark a,
.cart a,
.buy a {
  width: 100%;
  display: flex;
  flex-grow: 1;
  padding: 12px;
}



.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}
a {
  text-decoration: none;
}

.user-navigation {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  /*background-color: #32425c;*/
}

.user-navigation a:hover {
  background-color: #293449;
}

.user-navigation a:active {
  opacity: 0.5;
}

.user-panel {
  list-style: none;
  background-color: #293449;
  margin-right: 130px;
  justify-content: space-between;
}

.site-navigation {
  margin-left: 130px;
  margin-right: 130px;
  list-style: none;
  background-color: #32425c;
  display: flex;
  flex-grow: 1;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 5px #293449;
}

.site-navigation a {

}

.user-panel a,
.site-navigation a {
  color: #ffffff;
}

.user-panel a:hover {
  background-color: #212a3a;
}

.user-panel a:focus {
  background-color: #293449;
}

.search-in-site {

  color: #ffffff;
  background-color: #293449;
  opacity: 0;
}

.search-in-site:focus {
  color: black;
  background-color: #ffffff;
  opacity: 1;
  }

.middle-nav {
  margin-left: 130px;
  margin-right: 130px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 40px;
}

.login {
  flex-grow: 1;
  list-style: none;
  font-size: 21px;
  color: #black;
  background: #f4f7f9;
  text-align: right;
}

.login-button,
.register {
  border: 0;
  padding: 12px;
}

.login-button {
  margin-right: 10px;
}

.icon-login {
  padding-right: 15px;
}

.contacts {
  flex-grow: 1;
  width: 275px;
}

.icon-phone {
  display: block;
  padding: 15px;
}

.telephone {
  display: block;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  align-self: baseline;
}

.tel-num {
border: 2px solid #ffffff;
display: flex;
width: 270px;

}

.where {
  padding-top: 8px;
}

.slogan {
  flex-grow: 1;
  width: 200px;
  word-wrap: normal;
  font-family: Cuprum sans-serif;
  font-style: italic;
  display: block;
}

.slogan {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
  background-color: #f4f7f9;
}

.slogan1 {
  margin-top: 0px;
}

.exit a {
  font-size: 21px;
  color: #000000;
}

.my-buy a,
.profile a {
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
}

.my-buy a:hover,
.profile a:hover {
  color: #ba2732;
}

.exit a:active,
.my-buy a:active,
.profile a:active{
  opacity: 0.3;
}

.login-button,
.register {
  background-color: #ffffff;
  color: #000000;
}

.login-button:hover,
.register:hover {
  color: #ee3643;
  background: #ffffff;
}

.login-button:active,
.register:active {
  color: #b2b2b2;
  background: #ffffff;
}

.lkmz {
  display: flex;
  justify-content: space-between;
}

.contacts {
      text-align: -webkit-right;
}

address {
  font-size: 21px;
  font-style: normal;
  color: #e9292a;
  background-color: #f4f7f9;
}

.where {
  font-size: 14px;
  color: #32425c;
}

.features-list {
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 55px;
  padding-left: 0;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style: none;

}

.grafica {

}

.flag{
  /*  position:absolute;*/
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}
.flag-new{
    background:url("../img/new.png") no-repeat 0 0;
}

.feateres-item1 {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 125px;
  background-color: #f6b22d;
  }

.feateres-item1 a {
  color: #ffffff;
}

.feateres-item1 p {
  background-color: rgba(0,0,0,0.1);
}

 .feateres-item1 p:hover {
    background-color: rgba(0,0,0,0.2);
}

.feateres-item1 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item2 {
  background-color: #3bbce3;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 125px;
}

.feateres-item2 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item2 a {
  color: #ffffff;
}

.feateres-item2 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item2 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item3 {
  background-color: #dc91d8;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 125px;
  }

.feateres-item3 a {
  color: #ffffff;
}

.feateres-item3 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item3 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item3 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item4 {
  background-color: #8ed78f;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 125px;
}

.feateres-item4 a {
  color: #ffffff;
}

.feateres-item4 p {
  background-color: rgba(0,0,0,0.1);
}

.feateres-item4 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item4 p:active {
  background-color: rgba(0,0,0,0.3);
}

.feateres-item5 {
  background-color: #ffc047;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 125px;
}

.feateres-item5 a {
  color: #ffffff;
}

.feateres-item5 p {
background-color: rgba(0,0,0,0.1);
}

.feateres-item5 p:hover {
   background-color: rgba(0,0,0,0.2);
}

.feateres-item5 p:active {
  background-color: rgba(0,0,0,0.3);
}

.slider1 {
  width:620px;
  height:270px;
  background: url("../img/slider1.jpg") no-repeat;
  background-size: 620px 270px;
  }

.slider1 h2 {
  font-size: 36px;
  color: #ffffff;
}

.slider1 p {
  font-size: 18px;
  color: #ffffff;
}

.catalog-button {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-button:hover {
  background-color: #ca2c37;
}

.catalog-button:active {
  background-color: #ba2732;
}

.slider2 {
  width:620px;
  height:270px;
  background: url("../img/slider2.jpg") no-repeat;
  background-size: 620px 270px;
  }

  .slider2 h2 {
    font-size: 36px;
    color: #ffffff;
  }

  .slider2 p {
    font-size: 18px;
    color: #ffffff;
  }

  .catalog-button {
    color: #ffffff;
    background-color: #ee3643;
  }

  .catalog-button:hover {
    background-color: #ca2c37;
  }

  .catalog-button:active {
    background-color: #ba2732;
  }

  .popular {
    background-color: #f9f5f0;
    color: #32425c;
  }

  .popular-button {
    color: #ffffff;
    background-color: #ee3643;
  }

  .catalog-item {
    color: #000000;
    list-style: none;
    border: 2px solid #eaeaea;
    padding: 5px;
  }

  .catalog-item h3 {
    font-size: 18px;
  }

  .old-price {
    font-size: 17px;
    color: #a9a9a9;
    text-decoration: line-through;
  }

  .price {
    background-color: #ee3643;
    font-size: 17px;
    color: #ffffff;
  }

  .new {
    background-color: #ee3643;
    font-size: 5px;
    color: #ffffff;
  }

  .under {
    display: none;
  }

.catalog-item:hover {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
}

.catalog-item:active {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
}

  .catalog-item:hover .picture {
    display: none;
  }

  .catalog-item:hover .under{
      display: block;
    }

.under-picture1 {
  background-color: #63a63e;
  color: #ffffff;
}

.under-picture1:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.under-picture1:active {
  background-color: #518534;
  color: #ffffff;
}

.under-picture2 {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #63a63e;
}

.under-picture2:hover {
  background-color: #ffffff;
  color: #32425c;
  border: 2px solid #32425c;
}

.under-picture2:active {
  opacity: 0.3;
}

  .popular-manufacturers {
    background-color: #f9f5f0;
    font-size: 30px;
    color: #32425c;
  }

  .manufacturers-button {
    background-color: #ee3643;
    font-size: 14px;
    color: #ffffff;
  }

  .manufacturer-item {
    border: 2px solid #eaeaea;
    padding: 5px;
  }

  .manufacturer-item:hover {
    box-shadow:  0 0 50px rgba(0,0,0,0.5);
  }

  .manufacturer-item:active {
    box-shadow:  0 0 30px rgba(0,0,0,0.5);
    opacity: 0.3;
  }

  .slider-services h2 {
    font-size: 30px;
    color: #000000;
  }

  .slider-services p {
    font-size: 13px;
    color: #000000;
  }

  .slider-servises-control{
    list-style: none;
    background: #32425c;
    font-size: 21px;
    color: #ffffff;
  }

  input[type=radio] {
    display: none;
 }

 .slider-servises-control a{
  color: #ffffff;
 }

  .srv1 {
    border: 1px #000000 solid;
  }
  .srv2 {
    border: 1px #000000 solid;
  }
  .srv3 {
    border: 1px #000000 solid;
  }

  .srv1:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv1:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv1:active a {
    color: #32425c;
  }

  .srv2:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv2:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv2:active a {
    color: #32425c;
  }

  .srv3:hover {
    background: #293449;
    font-size: 21px;
    color: #ffffff;
  }

  .srv3:active {
    background: #ffffff;
    font-size: 21px;
    color: #32425c;
  }

  .srv3:active a {
    color: #32425c;
  }

  .delivery p {
    font-size: 13px;
    color: #000000;
  }

.delivery h3 {
  font-size: 36px;
  color: #32425c;
}

.guarantee h3 {
  font-size: 36px;
  color: #32425c;
}

.guarantee p {
  font-size: 13px;
  color: #000000;
}

.credit h3 {
  font-size: 36px;
  color: #32425c;
}

.credit p {
  font-size: 13px;
  color: #000000;
}

.company h2 {
  font-size: 30px;
  color: #000000;
}

.company p {
  font-size: 13px;
  color: #000000;
}

.company a {
  background-color: #ee3643;
  color: #ffffff;
}

.delivery-company-item {
  list-style: none;
  font-size: 18px;
  color: #000000;
}

.contacts2 h2 {
  font-size: 30px;
  color: #000000;
}

.contacts2 p {
  font-size: 13px;
  color: #000000;
}
.write-us {
  background-color: #ee3643;
  color: #ffffff;
}

.upper-footer {
  background-color: #32425c;

}
.white a {
  font-size: 18px;
  color: #ffffff;
}
.gold a {
  font-size: 18px;
  color: #ffd180;
}

.site-navigation-items {
  list-style: none;
}

.site-navigation-items :hover {
  text-decoration: underline;
}

.site-navigation-items :active {
  opacity: 0.5;
}

.address {
background-color: #32425;
}

.bottom-footer {
  background: #293449;
}

.soc-but {
  list-style: none;
}

.footer-copyright b {
  font-size: 16px;
}

.footer-copyright a {
  font-size: 16px;
  color: #ffd180;
}

.footer-copyright :hover {
text-decoration: underline;
  }

.footer-copyright :active {
  color: #ee3643;
}

.write-us {
  background-color: #ffffff;
}

.write-us h3 {
  color: #000000;
}

.sending {
  background-color: #ee3643;
  color: #ffffff;
}

/*--не могу найти откуда это
.cart {
  background-color: #ee3643;
  color: #ffffff;
}--*/

.buy {
  background-color: #63a63e;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
  background-color: #ffffff;
  color: #000000;
}

.perforators {
  background-color: #f2f6f8;
}

.perforators h2 {
  font-size: 30px;
  color: #32425c;
}

.filter-in {
  background-color: #f7f3ec;
}

.filter-in h3 {
  font-size: 13px;
  color: #000000;
}

.price-in {
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
}

.range {
  background-color: #f7f3ec;
}

.min-sum {
  background-color: #f7f3ec;
  color: #000000;
  margin-top: 20px;
}

.pro {
  background-color: #ffffff;
  color: #000000;
}

.manufacturers-in {
  background-color: #ffffff;
  color: #000000;
}

.manufacturers {
  list-style: none;
}

.power-in {
  background-color: #ffffff;
  color: #000000;
}

.power {
  list-style: none;
}

.filter-button-button {
  background-color: #ffffff;
  color: #000000;
}

.search-param {
  background-color: #ffffff;
  color: #000000;
}

.filter2 {
  list-style: none;
}

.filter-option2 {
  border-bottom: 2px dashed #ee3643;
  opacity: 0.3;
}

.filter-option2:hover {
  border-bottom: 2px dashed #ee3643;
  opacity: 1;
}

.filter-option2:active {
  color: #ee3643;
  border-bottom: 2px dashed #ee3643;
  opacity: 1;
}

.pagination-item {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e5e5e5;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item:hover {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #bdc6ca;
}

.pagination-item:active {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ee3643;
}

.modal-cart h2 {
  font-size: 30px;
  color: #000000;
}

.make-buy {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
}

.continue-choose {
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
}

.button-mod {
  background-color: #f1f1f1;
}
